{%extends 'all-pics/base.html'%}
<html>

<body>
    {% block content %}
    {{block.super}}
    <script>
        function myFunction() {
/* Get the text field */
var copyText = document.getElementById("myInput");

/* Select the text field */
copyText.select();

/* Copy the text inside the text field */
document.execCommand("copy");

/* Alert the copied text */
alert("Copied the text: " + copyText.value);
}
    </script>
    <div class="container">

        <!-- Looping through posts   -->
        <div class="row" style=padding-top:70px;>
        <h1 style="text-align:center; font-family: 'Bungee Shade', cursive;
        ">VIEW GALLERY</h1>
            {% for posts_item in posts %}

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="{{posts_item.image.url}}" class="img-responsive" id="photo" data-toggle="modal" data-target="#{{ posts_item.id }}"
                    alt="Image" height=400px style=" box-shadow: 4px 7px 7px 7px grey; padding:20px; transition: all 0.3s ease 0s; cursor:
pointer; opacity: 0.8;">
            </div>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" id="{{ posts_item.id }}" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        {% for cat in posts_item.category.all %}
                        <h3>Category:{{cat}}</h3>
                        {% endfor %}
                        <img src="{{posts_item.image.url}}" class="img-responsive" alt="Image" style='width:100%;'>
                        <h4>Title: {{ posts_item.title}}</h4>
                        <h4>Name:{{posts_item.name}}</h4>
                        <h4>Description:{{ posts_item.description }}</h4>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" onclick="myFunction()" class="btn btn-outline-warning my-2 my-sm-0 link-btn">Copy
                                image Link</button>
                            <input class="form-control" type="text" value="http://127.0.0.1:8000{{posts_item.image.url}}"
                                id="myInput">
                        </div>
                    </div>

                </div>
            </div>




            {% empty %}

            <div class="row">
                <h3 class="text-center">There No Posts Items</h3>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--Display news Article images  -->



    {% endblock %}
</body>


</html>