{%extends 'all-pics/base.html'%}

{% block content %}
{{block.super}}
<div class="container">

    <!-- Looping through posts   -->
    {% for posts_item in posts %}

    <div class="row">
        <!-- displaying Posts articles -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ posts_item.name }} </h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{posts_item.image.url}}" class="img-responsive" alt="Image">
        </div>
    </div>

    {% empty %}
    <div class="row">
        <h2 class="text-center">There No Posts Items</h2>
    </div>
    {% endfor %}

    <!--Display news Article images  -->


</div>

</div>

{% endblock %}